<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <!-- <typeAlias type="com.fpc.Entity.User" alias="_User"/> -->
        <package name="com.alibaba.server.handler.mysql"/>
    </typeAliases>

<!-- 注册mapper.xml -->
    <mappers>
        <!--<mapper resource="com/fpc/Mapping/questionMapper.xml"/>-->
        <!-- <mapper class="com.fpc.Mapping.questionMapperI"/> -->
        <mapper resource="mappers/userMapper.xml"/>
    </mappers>

</configuration>
